.cards {
  padding-top: 20px;
}

.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 413px);
  justify-content: center;
  gap: 40px 20px;
  text-overflow: ellipsis;
}

@media screen and (max-width: 627px) {
  .cards {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .cards__list {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
}

@media screen and (max-width: 1272px) {
  .cards {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cards__list {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
}
