.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 4%;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top: 12px;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: rgba(33, 33, 33, 1);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  cursor: pointer;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  color: #212121;
  background-repeat: no-repeat;
}

.card__like-btn_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}

.card__like-btn:hover {
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../images/like-active.svg);
  opacity: 0.4;
}

.card__delete-btn {
  width: 32px;
  height: 32px;
  background-image: url(../images/delete.svg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  color: #212121;
  position: absolute;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__delete-btn:hover {
  background-image: url(../images/delete-hover.svg);
  cursor: pointer;
  border-color: rgba(33, 33, 33, 1);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }

  .card__image {
    height: 288px;
  }
}
