.footer {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 60px;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 0 16px;
  }
}
