.modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  border: none;
  background-color: #fff;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.modal__close-btn:hover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  border-radius: 8px;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  opacity: 1;
  background: #212121;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #fff;
}

.modal__submit-btn:hover {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__title {
  max-width: 169px;
  width: 100%;
  margin: 0 0 32px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 8px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #212121b2;
  border: 1px solid #000;
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 614px) {
  .modal__container {
    padding: 24px 12px 12px;
    font-size: 20px;
    margin: 0;
  }

  .modal__title {
    margin: 12px 12px 12px 24px;
  }

  .modal__submit-btn {
    display: flex;
    flex-grow: 1;
    padding: 16px 8px;
    max-width: none;
    justify-content: center;
  }
}
