.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  text-overflow: ellipsis;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 627px) {
  .page__section {
    padding: 0 16px;
  }
}
